body{
    background-image:url(https://assets.turbologo.ru/blog/ru/2021/10/30071021/background4.png);
}


.nazva{
    text-align: center;
    color:white;
    position: relative;
    bottom: 250px;
}

.play{
       font-family: 'Minecraft', sans-serif;
    color:white;
        background-color: #011b45;
        padding:20px;
        width:700px;
        border-bottom: 20px dashed white;
 }



.topmine{
    font-size:17px;
    color:blue;
}

.imgmine{
    position:absolute;
    top:475px;
    left:200px;
}

.info p:hover{
  color:grey;
}

li:hover{
    color:grey;
}

.play h2:hover{
    color:green;
}


span{
    color:green;
}

.play p{
    color:white;
}

.k{
    position:absolute;
    top:1015px;
    left: 265px;
}


.y{
       position:absolute;
    top:2230px;
    left: 300px;
}

img{
    opacity: 0.2;
}

img:hover{
    opacity:1;
}


.v{
    position: absolute;
    top:2680px;
    left:400px
}

aside img{
    opacity:1;
    border: 8px dashed darkblue;

}

aside{
    position: absolute;
    top:300px;
    left:770px;
    color:white;
    background-color: #00122e;
}

.b{
        position: relative;
   left: 60px;

}

 aside span{
background-color: yellow;
color:black;
}


footer p{
    color:white;
    font-size: 30px;
}


.play2{
       font-family: 'Minecraft', sans-serif;
    color:white;
        background-color: #000d21;
        padding:20px;
        width:700px;
        border-bottom: 20px dashed white;
 }


 footer a{
  font-size:40px;
  color:white;
  -webkit-text-stroke-color: #000;
-webkit-text-stroke-width: 2px;
text-decoration: none;
border-bottom:10px dotted green;
padding: 1px;
 }


 footer span{
 font-family: FreeMono, monospace;
 font-size: 50px;
 color:grey;
 }


 .ui{
     position: absolute;
    top:1000px;
    left: 1150px;
    color:white;
    background-color: #00122e;
 }


  .iu{
     position: absolute;
    top:1500px;
    left: 1150px;
    color:white;
    background-color: #00122e;
 }

 .pbv{
    position: absolute;
    top:100px;
    left: 1150px;
    color:white;
    font-size: 70px;
    font-family: segoe UI;
 }



 footer a:hover{
  font-size:48px;
  color:black;
  -webkit-text-stroke-color: white;
-webkit-text-stroke-width: 1px;
border-bottom:10px dotted blue;
 }


  footer a:focus{
  font-size:50px;
  color:darkblue;
  -webkit-text-stroke-color: white;
-webkit-text-stroke-width: 1px;
border-bottom:10px dotted blue;
 }

  footer a
  :visited{
  font-size:40px;
  color:blueviolet;
  -webkit-text-stroke-color: #2a0142;
-webkit-text-stroke-width: 1px;
border-bottom:10px dotted violet;
 }


.hamster{
     position: absolute;
    top:2100px;
    left:1150px;
    color:white;
    background-color: #00122e;
 }



 .t{
     position: absolute;
    top: 450px;
    left:1150px;
    color:white;
    background-color: #00122e;
 }

.lam{
 position: absolute;
    top:2700px;
    left:1150px;
    color:white;
    background-color: #00122e;
     }


     .pfnc{
       }




header img{
    opacity: 0.8;
  width: 1500px;
  height: 400px;
  position: relative;
  top: 150px;
}


header img:hover{
    opacity:1;
}

.ad h1{
color: blue;
position: absolute;
top: 250px;
left: 1250px;
}


footer{
    background-image: url(https://s.tmimgcdn.com/scr/800x500/345800/temno-sinij-teksturirovannyj-fon--sinij-fon-steny_345820-original.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


main{
    position: relative;
    top: 50px;
}
